{% extends "base.html" %}
{% block content %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h1>Welcome to LiBoto</h1>
        </div>
        <div class="panel-body">
            Please login to reserve, favorite medias and request new ones to the library. <br/>
            <h3 style="color: #285e8e">LiBoto Library Automation</h3>
            Liboto is a virtual library software. You can search our book catalog by using isbn, title, description, author, publisher, year and type features without the users needing  to login. Also you can make a search with some keywords that are included in the description of a book in this manner the research program shows the books that have most frequency of the word in sequence. In addition you can make reserve some book by the number of your quota for 14 days. You can even request some books then the admin user adds a new media. Besides you can add your favorite books into your favorite list. So enjoy the library automation!
        </div>
    </div>
{% endblock content %}